<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <title>Home Page</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


    <link rel="stylesheet" type="text/css" media="screen" href="${base}/css/jquery.easywidgets.css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="${base}/css/default.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="${base}/css/common.css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="css/example.css"/>

    <script src="${base}/script/jquery172.js" type="text/javascript"></script>

    <script src="${base}/script/jquery-ui-1.8.22.custom.min.js" type="text/javascript"></script>

    <script src="${base}/script/jquery.easywidgets.js" type="text/javascript"></script>

    <script src="${base}/script/widget.js" type="text/javascript"></script>

    <script src="${base}/script/example.js" type="text/javascript"></script>



    <script type="text/javascript">

    </script>
</head>
<body>


<div id="wphead">
    <div class="qd-title"></div>

    <div class="login-line transparent">
        #if($logged)
            <a href="widget/index">$fullname ($username)</a>
            <a href="logout">Logout</a>
        #else
            <a href="login">Login</a>
        #end
    </div>
</div>

    #set($columns=$dashboard.getLayoutObject().getColumns())
    #foreach($column in $columns)
    <div class="widget-place" id="widget-place-$column.getId()">
        #foreach($widgetId in $column.getWidgets())
            #uneditableWidget2($dashboard.getWidgetById($widgetId) $widgetId)
        #end
    </div>
    #end

</body>
</html>



